/*=====================================
FOOTER
=====================================*/

.footer{

    position:relative;

    padding:80px 0 35px;

    background:linear-gradient(
        135deg,
        #263025,
        #596047,
        #7c8168
    );

    overflow:hidden;

}

/* Decorative circles */

.footer::before{

    content:"";

    position:absolute;

    width:320px;

    height:320px;

    border-radius:50%;

    background:rgba(183,155,98,.08);

    top:-140px;

    left:-120px;

}

.footer::after{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    border-radius:50%;

    background:rgba(255,255,255,.05);

    bottom:-100px;

    right:-80px;

}

.footer .container{

    position:relative;

    z-index:2;

    text-align:center;

}

/* Logo */

.footer-logo{

    font-size:42px;

    font-weight:700;

    color:#fff;

    margin-bottom:12px;

    letter-spacing:2px;

}

.footer-logo span{

    color:#d8b56c;

}

/* Heading */

.footer h2{

    font-size:34px;

    color:#fff;

    margin-bottom:18px;

}

.footer p{

    max-width:650px;

    margin:0 auto 35px;

    color:#ddd5c8;

    line-height:1.8;

    font-size:16px;

}

/* Navigation */

.footer-links{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:28px;

    margin-bottom:40px;

}

.footer-links a{

    color:#f5f5f5;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

    position:relative;

}

.footer-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#d8b56c;

    transition:.3s;

}

.footer-links a:hover{

    color:#d8b56c;

}

.footer-links a:hover::after{

    width:100%;

}

/* Social Icons */

.footer-social{

    display:flex;

    justify-content:center;

    gap:18px;

    margin-bottom:40px;

}

.footer-social a{

    width:50px;

    height:50px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:white;

    font-size:20px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    transition:.35s;

}

.footer-social a:hover{

    transform:translateY(-6px);

    background:linear-gradient(
        135deg,
        #596047,
        #d8b56c
    );

}

/* Copyright */

.copyright{

    border-top:1px solid rgba(255,255,255,.15);

    padding-top:25px;

    color:#d9d2c5;

    font-size:14px;

    letter-spacing:.5px;

}