<nav class="navbar">

    <div class="container">

        <!-- Logo -->
        <div class="logo">
            <span>Thembeka</span><span class="dot"></span>
        </div>

        <!-- Navigation -->
        <ul class="nav-links">

            <li><a href="#hero" class="active">Home</a></li>

            <li><a href="#about">About</a></li>

            <li><a href="#experience">Experience</a></li>

            <li><a href="#projects">Projects</a></li>

            <li><a href="#skills">Skills</a></li>

            <li><a href="#education">Education</a></li>

            <li><a href="#contact">Contact</a></li>

        </ul>

        <!-- Right Side -->
        <div class="nav-right">

            <button class="theme-btn" (click)="toggleTheme()">

                {{darkMode ? '☀️' : '🌙'}}
            
            </button>

            <a href="#contact" class="hire-btn">
                Hire Me
              </a>

        </div>

    </div>

</nav>