<section class="hero" id="hero">

    <div class="container hero-container">

        <!-- Left Side -->
        <div class="hero-left">

            <div class="badge">
                ✨ Open to learning opportunities & collaborations
            </div>

            <h1>
                Learning <span>Java.</span><br>
                Building today.
            </h1>

            <p>
                I'm Thembeka, an aspiring Full Stack Developer learning Java,
                Spring Boot and Angular. I build real-world projects,
                learn new technologies every day,
                and grow one line of code at a time.
            </p>

            <div class="buttons">

                <a href="#projects" class="primary-btn">
                    View my work →
                </a>

                <a href="https://github.com/Thembeka1/mycv" class="primary-btn">
                   View my cv
                </a>

            </div>

            <div class="stats">

                <div class="stat">
                    <h2>3+</h2>
                    <p>Projects Built</p>
                </div>

                <div class="stat">
                    <h2>Java</h2>
                    <p>Spring Boot • Angular</p>
                </div>

                <div class="stat">
                    <h2>Daily</h2>
                    <p>Learning & Building</p>
                </div>

            </div>

        </div>

        <!-- Right Side -->
        <div class="hero-right">

            <div class="profile-card">
        
                <div class="avatar">
        
                    <img src="images/profile.jpg" alt="Thembeka">
        
                </div>
        
                <div class="profile-info">
        
                    <h2>Thembeka</h2>
        
                    <p>Aspiring Full Stack Developer</p>
                </div>        
</div>
        </div>

    </div>

</section>