<section class="education" id="education">

    <div class="container">

        <div class="section-header">

            <span class="section-tag">EDUCATION</span>

            <h2>Education & Learning</h2>

            <p>
                My academic journey and continuous learning in software development.
            </p>

        </div>

        <div class="education-grid">

            <!-- Card 1 -->

            <div class="education-card">

                <div class="year">
                    2026 - Present
                </div>

                <h3>Software Engineering NQF Level 6</h3>

                <h4>Internship</h4>

                <p>
                    Learning Java, Spring Boot, Angular, Git, REST APIs,
                    PostgreSQL, Agile methodologies and Full Stack Development
                    through practical projects.
                </p>

            </div>

            <!-- Card 2 -->

            <div class="education-card">

                <div class="year">
                    2025
                </div>

                <h3>System Support NQF Level 5</h3>

                <h4>Learnership</h4>

                <p>
                    Gained practical skills in HTML, CSS, JavaScript, React,
                    Node.js, Git, networking, operating systems and IT support
                    while building responsive web applications.
                </p>

            </div>

           

               

        </div>

    </div>

</section>